.app {
    text-align: left;
    display: flex;
    flex-direction: row;
}
 .statehook-container, .effecthook-container, .clock-container {
     margin: 5px 20px;
     padding: 5px 20px;
     border: bisque solid 3px;
     border-radius: 10px;
 }
